[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
python-dotenv = "*"

[dev-packages]
pylint = "*"
mypy = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
